# Connessione al database
DATABASE_URL=postgres://username:password@host:port/database
PGDATABASE=database
PGHOST=host
PGPASSWORD=password
PGPORT=5432
PGUSER=username

# Configurazione per l'invio di email
EMAIL_USER=email@example.com
EMAIL_PASSWORD=password

# API Key per SendGrid (se utilizzato)
SENDGRID_API_KEY=your_sendgrid_api_key

# Segreto per le sessioni (genera un valore casuale lungo)
SESSION_SECRET=random_string_for_session

# Database Configuration
DATABASE_URL="postgresql://neondb_owner:npg_cRIHzEfVNj91@ep-weathered-sky-a8ubfxtz-pooler.eastus2.azure.neon.tech/neondb?sslmode=require&channel_binding=require"
WHATSAPP_ACCESS_TOKEN=EAAKZAz7Hzj8QBPPRhU4oMOAqTUhpSGaUoyKwCUtMoZCxPwVqkoDdzLpcfsfd0VaY6e4qn0yYZCYpF8OFTFiknDZBn2wJJN90MAUIZBh8EzR5wQsZCbeCny8rwrJRqM09w8Kq24UcWSWqClwCJ7rYm9kLIQSxnzMPNXUPxZBJUQYsZAm5mVM8IQoY6HOyW4Detzl9SMf2JR2t6m1yxYNcZCfWhEN9PZBrHDb1uEtLiWnGKSSAZDZD
WHATSAPP_PHONE_NUMBER_ID=648211038386597
WHATSAPP_BUSINESS_ACCOUNT_ID=718050627608311